name: Print Changed Files

on:
  pull_request:
    types: [opened]

jobs:
  print_changed_files:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Print Changed Files
      run: |
        echo "Changed Files:"
        echo GITHUB_SHA $GITHUB_SHA 
        git diff-tree --no-commit-id --name-only -r $GITHUB_SHA
