name: Print Changed Files

on:
  pull_request:
    types: [opened]

jobs:
  print_changed_files:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Get list of changed files
      run: |
        changed_files=$(git diff-tree -r --name-only --no-commit-id HEAD^)
        echo "Changed files:"
        echo "${changed_files}"
