name: Print Changed Files

on:
  pull_request:
    types: [opened]

jobs:
  print_changed_files:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Print Changed Files
      run: |
        echo "Changed files in this pull request:"
        git diff --name-only $GITHUB_BASE_REF...$GITHUB_HEAD_REF
