name: Close new pull requests

on:
  pull_request:
    types: [opened]

jobs:
  close_pr:
    name: Close Pull Request
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Close Pull Request
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        import os
        import requests
        import github

        pull_request_number = str(github.event.pull_request.number)
        headers = {
            "Accept": "application/vnd.github+json",
            "Authorization": f"token {os.environ['GITHUB_TOKEN']}"
        }
        requests.patch(
            f"https://api.github.com/repos/{os.environ['GITHUB_REPOSITORY']}/pulls/{pull_request_number}",
            headers=headers,
            json={
                "state": "closed"
            }
        )
      shell: python
