name: Close new pull requests

on:
  pull_request:
    types: [opened]

jobs:
  print_anuj:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Print "anuj"
      run: |
        print("anuj")
        
