name: Close PR

on:
  pull_request:
    types: [opened]

jobs:
  close_pr:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Close PR
      run: |
        curl --request PATCH \
          --url "https://api.github.com/repos/${{ github.repository }}/pulls/${{ github.event.number }}" \
          --header "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          --header "Accept: application/vnd.github+json" \
          --data '{"state": "closed"}' \
          --fail

    